{% extends "base.html" %}

{% block title %}Welcome to Chili's!{% endblock %}

{% block header %}It is Wednesday my dudes.{% endblock %}s

{% block content %}
    <div>
        <form name="profileForm" method="POST" action="">
            <div>
                {% csrf_token %}
                <label for="profiles_id">Select a profile:</label>
                <select id="profiles_id" name="choose" onchange="top.location.href=this.options[this.selectedIndex].value;">
                    {% for user in users %}
                        <option value="../{{ user.pk }}/details/">{{ user.FirstName }}</option>
                    {% endfor %}
                </select>
                <br>
                <div>
                    <a href="{% url 'addProfile' %}"><button type="button">Add Profile</button></a>
                </div>
            </div>
        </form>

    </div>
<br>

{% endblock %}